@using Iss.LiveClassRoom.Core.Models;
@using Iss.LiveClassRoom.FrontEnd.Models;


@model IGirdNavViewModel<IEntity>

@if (!Model.IsPartial) {
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-search"></span>Search About @Model.Title</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your search query</p>
                    <form id="searchForm" role="search" method="post" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                    <button id="searchBtn" type="submit" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="deleteModal-@Model.GridName" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-danger"></h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete <span id="deleteDescription-@Model.GridName" class="text-danger"></span> ؟
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger pull-right deleteBtn">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </div>
        </div>
    </div>
</div>