@model Iss.LiveClassRoom.Core.Models.Feed

@foreach(var item in Model.Comments) {

}
<ul class="media-list">
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Content/img/user.svg" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
        </div>
    </li>
</ul>

@section Scripts{
    
}