<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:14736/Services/CourseWService.svc" binding="wsHttpBinding"
          bindingConfiguration="wsHttp" contract="Iss.LiveClassRoom.WebService.ServiceContracts.ICourseWService"
          behaviorConfiguration="SecurityBehavior" name="CourseServiceClient">
        <identity>
          <dns value="LiveClassRoom"/>
        </identity>

      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SecurityBehavior">
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="LiveClassRoomDb" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=LiveClassRoomDb;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>