@using Iss.LiveClassRoom.FrontEnd.Models
@using Iss.LiveClassRoom.Core.Models;

@model IEnumerable<Iss.LiveClassRoom.Core.Models.Video>
@{
    ViewBag.Title = "File Review";
}

@{ Html.RenderPartial("~/Views/Shared/_PartialStatusMessage.cshtml"); }

<table>
    <tr>
        <th>File Title</th>
        <th>Course name</th>
        <th></th>
        <th></th>
    </tr>
    @{foreach (var item in Model.Where(x => (x.IsAccept == 2)))
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Course.Name</td>
                <td>@Html.ActionLink("Accept", "Accept", new { videoId = item.Id })</td>
                <td>@Html.ActionLink("Reject", "Reject", new { videoId = item.Id })</td>
            </tr>
        }
    }
</table>



@section Scripts {
    @{Html.RenderPartial("~/Views/Shared/_PartialGridScript.cshtml", null);}
}